
.tree_wrapper{
  display: flex;
  flex-wrap: nowrap;
  height: 70vh;
  margin: 50px;
  width: 80vw;
}
/* Button */
.backButton {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
 }
 .prevSelection{
  background: rgb(209, 209, 205);
  border: 1px solid black;
  border-radius: 50%;
  color: maroon;
  font-size: 2vw;
  padding: 5px 15px 10px;
}
/* Button END */

 #Main {
   align-items: center;
   background: rgb(209, 209, 205);
   border: 1px solid black;
   display: flex;
   justify-content: space-evenly;
   flex-grow: 4;

 }
 #Sub {
   align-items: center;
    background: rgb(209, 209, 205);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    justify-content: space-evenly;
 }
 #SubSub {
   align-items: center;
    background: rgb(209, 209, 205);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    flex-wrap: nowrap;
 }
 .sm_flex_wrapper{
  align-items: center;
  display: flex;
  height: 25%;
  width: 80%;
  justify-content: space-between;
}